body {
    width: 80%;
    background-color: antiquewhite;
    margin: auto;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-container>input {
    width: 300px;
    height: 30px;
    font-size: 1.25rem;
    /* 1. 去除默认边框 */
    border: none;
    /* 2. 去除输入时的外边框（光晕） */
    outline: none;
    /* 4. 如果需要去掉背景色，可设置透明 */
    background-color: transparent;
    border-bottom: 1px black solid;
}

.input-container>button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: gold;
}

.container {
    background-color: gray;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    font-size: 1.2rem;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: orange;
}

.actions>button {
    width: 75px;
    height: red;
    background-color: red;
    color: white;
    border-color: darkred;
    font-size: 1.05rem;
    border-radius: 10px;
    margin-left: 10px;
}